{% extends "base.html" %}

{% block title %} QUESTION #4 {% endblock %}



{% block content %}


<h1>Question #4</h1>
<br>
<p>{{question}}</p> 
<br>
<form action="/questions/3/answer", method="POST">
{% for choice in choices %}
<div>
  <input type="radio" id="{{choice}}" name="options" value="{{choice}}"
         checked>
  <label for="{{choice}}">{{choice}}</label>
</div>

{% endfor %}

{% if text %}
<div>
  <input type="text" id="text" name="text">
  <label for="text">Why?</label>
</div>
{% endif %}




<button>Submit</button>
</form>






{% endblock %}
